---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.tsx';
import GalleryComponent from '../components/Gallery.tsx';

const galleryImages = Array.from({ length: 19 }, (_, i) => ({
  id: `${i + 1}`,
  url: `/galeria/${i + 1}.jpeg`,
  title: 'Lima Inca Trips',
  description: 'Descubre los increíbles paisajes y experiencias que te esperan con Lima Inca Trips.'
}));
---

<Layout title="Galería de Fotos | Lima Inca Trips">
	<Navbar client:load solid={true} currentPath={Astro.url.pathname} />
	
	<main class="pt-24 min-h-screen bg-white">
		<GalleryComponent 
      client:load 
      images={galleryImages} 
      title="Nuestra Galería" 
      subtitle="Momentos Inolvidables" 
    />
	</main>
</Layout>
